.hg-theme-default.virtual-keyboard-style {
  background-color: #3A3A3C;
}

.hg-theme-default.virtual-keyboard-style .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A1A1A;
  color: white;
  box-shadow: 1px 0px 1px black;
}

.hg-theme-default.virtual-keyboard-style .hg-button:active {
  background: #1c4995;
  color: white;
}